


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cat & Dog Classifier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css" type="text/css">

  </head>
  <body>

<section class="hero is-fullheight">
  
    <div class="bg-img"></div>
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="/static/images/coderschool.svg" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" href="/">
                Home
              </a>
              <a class="navbar-item" href="/model">
                Model
              </a>
              
              <span class="navbar-item">
                <a href="https://github.com/thtamho/dogvscatCNN" target="_blank" class="button is-primary is-inverted">
                  <span style="color: red;font-weight: bold">Github</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <div class="hero-body bg-img2"></div>
      <div class="container has-text-centered bg-text" style="width: 100%">

        <div class="columns">
          <div class="column has-text-centered">
            <!-- <figure class="image is-1by1"> -->
              <img class="pred_img" src="{{ url_for('send_file', filename=image_file_name)}}"/>
            <!-- </figure> -->
          </div>
           
          <div class="column" style="font-size:2.5rem">

            <h1 id ="pred">
                This is a 
            </h1>

            <h1 class ="box" style="padding: 0%; width: 10rem; background-color: white" id="label">
                {{ label }}
            </h1>

            <h1 style="font-size: 2rem">
              Confidence: <span style="font-weight: bold; color:whitesmoke;">{{prob}}%</span>
            </h1>
            <h5 style="font-size: 1rem">Reupload image if prediction incorrect</h5> 
            <form action="/savedog" method="post" id="form1" enctype="multipart/form-data">
              <input name = "image" id="image-file" type="file"/>
              <input name = "image" id="btn-submit3" type="submit" value="submit as dog" />
            </form>
            <form action="/savecat" method="post" id="form1" enctype="multipart/form-data">
              <input name = "image" id="image-file" type="file"/>
              <input name = "image" id="btn-submit4" type="submit" value="submit as cat" />
            </form>
            <br>
            <a href="/" class="button is-danger is-inverted is-outlined" style="font-size:1.5rem">Back to Home</a>
          </div>
          
        </div>
      </div>
    </div>

  </section>


  <script src="/static/script.js"></script>
  <script>
    $(document).ready(function() {
 
        initImageUpload();
 
        function initImageUpload() {
            $("#btn-submit3").click(function(e) {
                e.preventDefault();
 
                var everlive = new Everlive({
                    appId: "",
                    scheme: "https"
                });
 
                // construct the form data and apply new file name
                var file = $('#image-file').get(0).files[0];
 
                var newFileName = file.filename + "new";
                var formData = new FormData();
                formData.append('file', file, newFileName);
 
 
                $.ajax({
                    url: everlive.files.getUploadUrl(), // get the upload URL for the server
                    success: function(fileData) {
                        alert('Created file with Id: ' + fileData.Result[0].Id); // access the result of the file upload for the created file
                        alert('The created file Uri is available at URL: ' + fileData.Result[0].Uri);
                    },
                    error: function(e) {
                        alert('error ' + e.message);
                    },
                    // Form data
                    data: formData,
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false
                });
                return false;
            });
        }
    });
</script>

</body>
</html>